*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;;
}
.btn-primary{
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    padding: 18px 35px;
    
}
.text-primary{
    color: #FD6E0A;
}

/* Header and navigation style */
.header{
    
    background-color: #fff8f3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
    
}


nav{
    display: flex;
    justify-content: space-between; 
    padding: 50px 200px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav li{
    list-style: none;
    margin-left: 50px;
}

/* Banner Style */
.banner{
    margin: 0 150px;
    display: flex;
    align-items: center;
}

.banner-title{

    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
}

.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: #75757575;
    margin-bottom: 30px;
}
.banner-img{
    width: 584px;
    height: 676px;

}
.btn-contact{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background-color: #ffffff;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
}

/* Main */
main{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    margin-top: 130px;
}
/* About Section */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 100px;
    text-align: center;
}

.section-title{
    margin-bottom: 30px;
    text-align: center;
}

.section-description{
    color: #757575;
    text-align: center;   
    font-size: 18px; 
    font-weight: 400;
    margin-bottom: 30PX;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;
}

.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* what-i-do Section */

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}

.skill-description{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
}

/* Resume */
.resume-content{
    display: flex;
    gap: 24px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    text-align: center;
}
.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;

}
.resume .description{
    color: #757575;
    margin-top: 50px;
}

/* Contact Styles */
.contact{
    background-color: #FFF8F3; 
    display: flex;
    gap: 100px;
    padding: 130px 200px;
}

.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: none;
    width: 100%;
    padding: 18px 30px;

}

.contact a{
    text-decoration: none;
}

@media screen and (max-width:576px){
    .header{
        background-image: none;
    }
    .banner, .skills-container, .resume-content,  .contact, .about-info-container, nav{
        flex-direction: column;
        
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }
    .banner{
        margin: 0 20px;
    }
    .banner-subtitle, .nav-title{
        font-weight: 600;
        font-size: 5vw;
    }
    .banner-title{
        font-size: 6vw;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .banner-img{
        width: 80%;
        height: 676px;
    
    }
    .banner-description{
        font-size: 16px;
    }
    .btn-contact{
        margin-top: 20px;
    }
    .contact, .about, nav {
        padding: 80px 50px;
    }
    
    .what-i-do, .resume, .about{
        margin: 130px 20px;
    }
    .about-info{
        margin-bottom: 10px;
    }
    .contact input[type="text"], input[type="email"], textarea{
        margin-bottom: 24px;
        border: none;
        width: 80%;
        padding: 18px 30px;
    
    }
}

@media screen and (min-width:577px) and (max-width:992px){
    .skills-container, .about-info-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .resume-content, .contact{
        flex-direction: column;
    }
    .contact input[type="text"], input[type="email"], textarea{
        margin-bottom: 24px;
        border: none;
        width: 80%;
        padding: 18px 30px;
    
    }
    .what-i-do, .resume, .about{
        margin: 130px 20px;
    }
    .contact, .about{
        padding: 80px 50px;
    }
}
